<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{{.siteTitle}}{{if .title}} – {{.title}}{{else}}{{template "title" .}}{{end}}</title>
		<link rel="stylesheet" href="{{.assets}}/common.css"/>
		<link rel="icon" href="{{.assets}}/favicon.png"/>
		<script src="{{.assets}}/common.js" async></script>
{{template "head" .}}
	</head>
	<body vocab="http://schema.org/" typeof="{{template "schemaType" .}}">

		<header typeof="WPHeader">
			<a href="{{$.base}}/" id="title">
				<img src="{{.logo}}" class="avatar" width="43" height="43"/>
				<span class="text">{{.siteTitle}}</span>
			</a>
			<div id="menu">
{{/* no spaces allowed here */}}
{{range .menu}}<a href="{{$.base}}{{.Url}}">{{.Title}}</a>{{end}}{{if .user}}<a href="{{$.admin}}/">Admin</a>{{end}}
			</div>
		</header>

		<main>
{{template "body" .}}
		</main>

		<footer typeof="WPFooter">
			<nav>
				<a href="{{$.base}}/archive/">Archive</a>
			</nav>
		</footer>
	</body>
</html>
{{define "head"}}{{end}}
{{define "title"}}{{end}}
