{{define "head"}}
{{if .page.Summary}}
		<meta name="description" content="{{.page.Summary}}"/>
	{{end}}
{{end}}

{{define "schemaType"}}ItemPage{{end}}

{{define "body"}}
{{with .page}}
<article class="post" property="mainEntity" typeof="BlogPosting">
	<h1 property="headline name"><a href="{{$.base}}{{.Url}}" property="url">{{.Title}}</a></h1>
	<div class="authored">
		<time datetime="{{timestamp .Published}}" class="published" property="datePublished">{{date .Published}}</time>,
		by <span property="author">{{.Author.Name}}</span>
	</div>
	<div property="articleBody">
{{markdown .Text}}
	</div>
	<div class="modified">Updated: <time datetime="{{timestamp .Modified}}" property="dateModified">{{date .Modified}}</time></div>
</article>
{{else}}
<p class="error">Could not find this article.</p>
{{end}}
{{end}}
